.menu__nav
  a.menu__nav__link(href="#") О компании
  a.menu__nav__link(href="#")#active Проекты
  a.menu__nav__link(href="#") Арендаторам
  a.menu__nav__link(href="#") Карта лояльности
  a.menu__nav__link(href="#") Пресс-центр
  a.menu__nav__link(href="#") Контакты