///color's
$main-color: #4d4d4f;
$main-color-active: #80b951;
$header-bg: #e5e5e5;
$menu-nav-color: #4f4f4f;
$main-color-green: #74bb20;
$color-line: #282929;
$color-lang: #55555b;
$main-border-color: #f2f2f2;
$header-line-color: #bdbdbd;
$text-color: #ffffff;
$main-subcolor: #53565a;
$grid-color-line: #f2f2f2;
$grid-color-text: #53565a;
$hover-color-text: #333333;

//font's settings
$header-font-size: 12px;
$menu-nav-font-size: 18px;

//media q

$sizes: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);
