///color's
$main-color: #4D4D4F;
$main-color-active:#80B951;
$header-bg: #E5E5E5;
$menu-nav-color:#4F4F4F;
$main-color-green:#74BB20;
$color-line:#282929;
$color-lang:#55555B;
$main-border-color:#F2F2F2;
$header-line-color:#BDBDBD;
$text-color:#FFFFFF;
$main-subcolor:#53565A;
$grid-color-line:#F2F2F2;
$grid-color-text:#53565A;





//font's settings
$header-font-size:12px; 
$menu-nav-font-size:18px;