p.content__corp__text__article. 
                              Мы верим, что жизнь – пространство возможностей для всех.
                              <strong>«Наша компания»</strong> доказывает это на личном примере: начиная свой путь в 1994 году от небольшого автозаправочного комплекса, мы выросли до одного из самых крупных и надежных застройщиков Беларуси. Однако наше главное достижение заключается в том, что всё то, чем мы занимаемся, нравится не только нам самим, но и нашим клиентам.
p.content__corp__text__article__sub. 
                                    <strong>Наши объекты коммерческой и торговой недвижимости никогда не пустуют</strong>, а возводимые нами жилые комплексы стали эталоном организации жилой среды.
p.content__corp__text__article__sub.
                                    <strong>Мы стремимся вперед не только для того, чтобы гордиться собой.</strong> Мы движемся вперед, чтобы доказать, что жизнь – пространство возможностей для всех!
p.content__corp__text__article.
                              <strong>То, что вчера казалось невозможным — сегодня уже часть нашей жизни.</strong>
                            
                              